// FLEX POSITIONS

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-row {
    display: block;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}