// PRINCIPALES

$first-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;

$first-color-light: #9a62dd;
$second-color-light: #fd8ddd;
$third-color-light: #b4e0d5;

// BACKGROUND

$first-back-color: white;
$second-back-color: rgb(241, 241, 241);

// TEXT

$grey-accent-color: #3f3f3f;

// BUTTON

$gradient-color-purplepink: linear-gradient(to bottom, $second-color 0%, $first-color 100%);
$box-shadow:0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);