.footer {
  background-color: $grey-accent-color;
  padding: 0.3rem 1rem;

  &_logo {
    color: white;
    font-family: 'Shrikhand', 'cursive';
  }

  &_display {
    padding-bottom: 10px;
  }

  a {
    color: #FFF;
  }

  &_icon {
    margin-right: 0.5rem;
    width: 1.2rem;
  }
}