// INDEX

.logo_title {
  @include flex-center;
  background-color: $first-back-color;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 100;
}

// RESTAU

.r_logo_title {
  @include flex-center;
  background-color: $first-back-color;
  position: relative;
  z-index: 100;
}

.header_arrow {
  @include flex-center;
  position: absolute;
  left: 1rem;
  width: 2rem;
  top: 1.5rem;
  color: rgba(5, 5, 5, 0.76);
  font-size: 1.5em;
}