body {
  max-width: 100%;
  margin: auto;
}

a {
  color: #3f3f3f;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0.3em;
}

h2 {
  padding: 0.5em;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

body > img {
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 18rem;
  object-fit: cover;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 10px;
}

h4 {
  font-size: 1em;
  font-weight: 700;
}

p {
  font-size: 1.2em;
}

.btn {
  border-radius: 5rem 5rem;
  padding: 1rem 1rem;
  width: 230px;
  background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  color: white;
  border: none;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to bottom, #fd8ddd 0%, #9a62dd 100%);
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.cards_btn {
  background-color: transparent;
  display: flex;
  align-items: center;
}
.cards_btn .fa-heart {
  background-color: transparent;
  font-size: 2em;
  color: black;
  cursor: pointer;
}
.cards_btn .fa-heart:hover {
  animation: fillheart 0.5s;
  background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 100%, transparent 100%);
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
}

/* For smoother animation go 5 by 5 or 10 by 10. */
@keyframes fillheart {
  0% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 0, transparent 0);
  }
  5% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 5%, transparent 5%);
  }
  10% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 10%, transparent 10%);
  }
  15% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 15%, transparent 15%);
  }
  20% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 20%, transparent 20%);
  }
  25% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 25%, transparent 25%);
  }
  30% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 30%, transparent 30%);
  }
  35% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 35%, transparent 35%);
  }
  40% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 40%, transparent 40%);
  }
  45% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 45%, transparent 45%);
  }
  50% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 50%, transparent 50%);
  }
  55% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 55%, transparent 55%);
  }
  60% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 60%, transparent 60%);
  }
  65% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 65%, transparent 65%);
  }
  70% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 70%, transparent 70%);
  }
  75% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 75%, transparent 75%);
  }
  80% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 80%, transparent 80%);
  }
  85% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 85%, transparent 85%);
  }
  90% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 90%, transparent 90%);
  }
  95% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 95%, transparent 95%);
  }
  100% {
    background-image: linear-gradient(0deg, #9356DC 0, #FF79DA 100%, transparent 100%);
  }
}
.how_to li:hover {
  background-color: rgb(246, 229, 252);
}

.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  opacity: 0.8;
  z-index: 100;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2s linear;
}
@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.loader_spin {
  border: 16px solid #9356DC;
  border-top: 16px solid #FF79DA;
  border-bottom: 16px solid #99E2D0;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 2s linear infinite;
  z-index: 100;
  align-items: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bloc_menu:hover .price_container {
  margin-right: 0;
}
.bloc_menu:hover .price_container i {
  transition: transform 750ms;
  transform: rotate(360deg);
}
.bloc_menu:hover .bloc_menu_price {
  transition: margin-right 400ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.bloc_menu:hover .bloc_menu_confirm {
  transition: transform 400ms cubic-bezier(0.3, 0.7, 0.4, 1.5), right 400ms ease-in-out;
}
.bloc_menu:hover .price_container {
  transition: margin 750ms;
}

.display-1 {
  animation: apparition 1s;
}

.display-2 {
  animation: apparition 1.5s;
}

.display-3 {
  animation: apparition 2s;
}

.display-4 {
  animation: apparition 2.5s;
}

/* To add more progressive card display, just copy and past, change the number and add 0.5 to the "apparition" time.
 Do not forget to change the number in your HTML too */
@keyframes apparition {
  from {
    transition: all 1s;
    margin-top: 4rem;
    opacity: 0;
  }
  to {
    transition: all 1s;
    margin-top: 1rem;
    opacity: 1;
  }
}
.footer {
  background-color: #3f3f3f;
  padding: 0.3rem 1rem;
}
.footer_logo {
  color: white;
  font-family: "Shrikhand", "cursive";
}
.footer_display {
  padding-bottom: 10px;
}
.footer a {
  color: #FFF;
}
.footer_icon {
  margin-right: 0.5rem;
  width: 1.2rem;
}

.logo_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 100;
}

.r_logo_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 100;
}

.header_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1rem;
  width: 2rem;
  top: 1.5rem;
  color: rgba(5, 5, 5, 0.76);
  font-size: 1.5em;
}

/*------------------------------------------------*/
/*----------------- M O B I L E ------------------*/
/*------------------------------------------------*/
.home,
.how_to,
.restaurants {
  padding: 1.5em;
}

.location {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: rgb(228, 228, 228);
  height: 3.6em;
  color: #3f3f3f;
}
.location_icon {
  margin-right: 1rem;
}
.location_text {
  font-weight: bolder;
}

.home {
  text-align: center;
  background-color: rgb(241, 241, 241);
}
.home_title {
  margin-top: 0;
}
.home_text {
  font-weight: lighter;
  padding-bottom: 1rem;
}

.how_to li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  padding: 0.4rem;
  margin: 0 0 1.5rem 0;
  position: relative;
}
.how_to_icon {
  color: #3f3f3f;
  padding-left: 1.5rem;
}
.how_to_text {
  margin-right: 2rem;
  font-weight: bolder;
}
.how_to_count {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2rem;
  color: white;
  position: absolute;
  left: -10px;
}

.restaurants {
  background-color: rgb(241, 241, 241);
}

.bloc_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.cards {
  width: 100%;
  height: auto;
  margin-top: 1em;
}
.cards img {
  object-fit: cover;
  width: 100%;
  height: 10rem;
  border-radius: 1rem 1rem 0 0;
}
.cards p {
  font-size: 1em;
  margin: 0.25em;
}
.cards a {
  text-decoration: none;
}
.cards .cards_desc {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 0 0 1rem 1rem;
  background-color: white;
}

.new_cards {
  position: absolute;
  right: 5%;
  background-color: #99E2D0;
  padding: 0.5rem 0.5rem;
  border-radius: 0.1rem;
  color: darkgreen;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
}

.card_content {
  background-color: white;
}

/*==============================================================*/
/*========================== DESKTOP ===========================*/
/*==============================================================*/
@media screen and (min-width: 1023px) {
  .how_to {
    text-align: center;
  }
  .how_to ol {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .how_to ol li {
    width: 20%;
  }
  .restaurants {
    margin-bottom: 3em;
  }
  .restaurants h3 {
    text-align: center;
  }
  .bloc_cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 250px;
  }
  .bloc_cards .cards {
    width: 45%;
    position: relative;
  }
  .bloc_cards .cards_desc {
    margin-bottom: -1em;
  }
  .bloc_cards .cards .new_cards {
    width: 100px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
/*------------------------------------------------*/
/*----------------- M O B I L E ------------------*/
/*------------------------------------------------*/
.r_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  text-align: center;
  position: relative;
  margin-top: -3rem;
  padding-bottom: 3em;
  background-color: white;
  border-radius: 2rem 2rem 0 0;
}
.menu_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 1.2em;
  font-weight: 100;
}
.menu_card {
  padding-bottom: 3em;
  text-align: left;
}

.r_title {
  padding: 0 1rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 1em;
}
.r_title .underline {
  text-decoration: 3px underline #99E2D0;
  text-underline-position: under;
}

.bloc_menu {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
  max-width: 100%;
  margin: 1rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: sans-serif;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  cursor: pointer;
  position: relative;
}
.bloc_menu_info {
  text-align: left;
  flex: 1;
  padding: 0.75rem;
  overflow: hidden;
}
.bloc_menu_title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bloc_menu_more {
  margin: 0;
  padding-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 100;
  font-size: 0.8em;
}
.bloc_menu_price {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  color: rgba(61, 58, 58, 0.8705882353);
  padding: 0.75rem;
}
.bloc_menu_confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  width: 60px;
  background: #99e2d0;
}
.bloc_menu .price_container {
  display: flex;
  margin-right: -60px;
}

/*==============================================================*/
/*========================== DESKTOP ===========================*/
/*==============================================================*/
@media screen and (min-width: 1023px) {
  .r_title {
    text-align: center;
  }
  .menu_card {
    margin: 0 400px;
  }
}

/*# sourceMappingURL=style.css.map */
