// ANIMATION PRICE + CHECK
.bloc_menu:hover {
    & .price_container {
        margin-right: 0;

        & i {
            transition: transform 750ms;
            transform: rotate(360deg);
        }
    }

    & .bloc_menu_price {
         transition: margin-right 400ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }

    & .bloc_menu_confirm {
        transition: transform 400ms cubic-bezier(0.3, 0.7, 0.4, 1.5), right 400ms ease-in-out;
    }

    .price_container {
        transition: margin 750ms;
    }
}


// PROGRESSIVE CARD DISPLAY 

.display-1 {
    animation: apparition 1s;
}

.display-2 {
    animation: apparition 1.5s;
}

.display-3 {
    animation: apparition 2s;
}

.display-4 {
    animation: apparition 2.5s;
}

/* To add more progressive card display, just copy and past, change the number and add 0.5 to the "apparition" time.
 Do not forget to change the number in your HTML too */

// CARD DISPLAY


@keyframes apparition {
    from {
        transition: all 1s;
        margin-top: 4rem;
        opacity: 0;
    }

    to {
        transition: all 1s;
        margin-top: 1rem;
        opacity: 1;
    }
}
