// HEART FILLING

.cards_btn {
  background-color: transparent;
  display: flex;
  align-items: center;


  .fa-heart {
    background-color: transparent;
    font-size: 2em;
    color: black;
    cursor: pointer;


    &:hover {
      animation: fillheart 0.5s; //1 for slow heart fill, 0.3 for fast.
      background-image: linear-gradient(0deg, $first-color 0, $second-color 100%, transparent 100%);
      font-weight: bold;
      color: transparent;
      -webkit-background-clip: text;


    }
  }
}

// PROGRESSIVE HEART FILLING

/* For smoother animation go 5 by 5 or 10 by 10. */

@keyframes fillheart {

  0% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 0, transparent 0);
  }

  5% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 5%, transparent 5%);
  }

  10% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 10%, transparent 10%);
  }

  15% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 15%, transparent 15%);
  }

  20% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 20%, transparent 20%);
  }

  25% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 25%, transparent 25%);
  }

  30% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 30%, transparent 30%);
  }

  35% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 35%, transparent 35%);
  }

  40% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 40%, transparent 40%);
  }

  45% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 45%, transparent 45%);
  }

  50% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 50%, transparent 50%);
  }

  55% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 55%, transparent 55%);
  }

  60% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 60%, transparent 60%);
  }

  65% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 65%, transparent 65%);
  }

  70% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 70%, transparent 70%);
  }

  75% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 75%, transparent 75%);
  }

  80% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 80%, transparent 80%);
  }

  85% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 85%, transparent 85%);
  }

  90% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 90%, transparent 90%);
  }

  95% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 95%, transparent 95%);
  }

  100% {
    background-image: linear-gradient(0deg, $first-color 0, $second-color 100%, transparent 100%);
  }

}