// BUTTON

.btn {
  border-radius: 5rem 5rem;
  padding: 1rem 1rem;
  width: 230px;
  background-image: $gradient-color-purplepink;
  color: white;
  border: none;
  box-shadow: $box-shadow;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to bottom, $second-color-light 0%, $first-color-light 100%);
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  }

}