// ANIMATION LOADING SCREEN

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    opacity: 0.8;
    z-index: 100;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 2s linear;

    @keyframes loader {

        0% {
            visibility: visible;
        }

        100% {
            visibility: hidden;
        }
    }

    &_spin {
        border: 16px solid $first-color;
        border-top: 16px solid $second-color;
        border-bottom: 16px solid $third-color;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        animation: spin 2s linear infinite;
        z-index: 100;
        align-items: center;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }


}