body {
  max-width: 100%;
  margin: auto;
}

a {
  color: $grey-accent-color;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0.3em;
}

h2 {
  padding: 0.5em;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

body>img {
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 18rem;
  object-fit: cover;
}