* {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-family: "Shrikhand", cursive;
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 10px;
}

h4 {
    font-size: 1em;
    font-weight: 700;
}

p {
    font-size: 1.2em;
}