/*------------------------------------------------*/
/*----------------- M O B I L E ------------------*/
/*------------------------------------------------*/

// GENERAL

$padding-bloc: 1.5em;

.home,
.how_to,
.restaurants {
  padding: $padding-bloc;
}

// LOCATION

.location {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: rgb(228, 228, 228);
  height: 3.6em;
  color: $grey-accent-color;

  &_icon {
    margin-right: 1rem;
  }

  &_text {
    font-weight: bolder;
  }
}

// HOME

.home {
  text-align: center;
  background-color: $second-back-color;

  &_title {
    margin-top: 0;
  }

  &_text {
    font-weight: lighter;
    padding-bottom: 1rem;
  }
}


// HOW TO

.how_to {

  li {
    @include flex-around;
    background-color: $first-back-color;
    box-shadow: $box-shadow;
    border-radius: 1.25rem;
    padding: 0.4rem;
    margin: 0 0 1.5rem 0;
    position: relative;
  }

  &_icon {
    color: $grey-accent-color;
    padding-left: 1.5rem;
  }

  &_text {
    margin-right: 2rem;
    font-weight: bolder;
  }

  &_count {
    @include flex-center;
    background-color: $first-color;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2rem;
    color: white;
    position: absolute;
    left: -10px;
  }
}

// RESTAURANTS

.restaurants {
  background-color: $second-back-color;
}

.bloc_cards {
  @include flex-center;
  flex-wrap: wrap;
  position: relative;
}

.cards {
  width: 100%;
  height: auto;
  margin-top: 1em;

  img {
    object-fit: cover;
    width: 100%;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
  }

  p {
    font-size: 1em;
    margin: 0.25em;
  }

  a {
    text-decoration: none;
  }

  .cards_desc {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: $box-shadow;
    border-radius: 0 0 1rem 1rem;
    background-color: white;
  }

}

.new_cards {
  position: absolute;
  right: 5%;
  background-color: $third-color;
  padding: 0.5rem 0.5rem;
  border-radius: 0.1rem;
  color: darkgreen;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
}

.card_content {
  background-color: white;
}


/*==============================================================*/
/*========================== DESKTOP ===========================*/
/*==============================================================*/

@media screen and (min-width: 1023px) {

  // HOW TO

  .how_to {
    text-align: center;

    & ol {
      display: flex;
      justify-content: center;
      gap: 50px;

      & li {
        width: 20%
      }
    }
  }

  // RESTAURANTS

  .restaurants {
    margin-bottom: 3em;

    & h3 {
      text-align: center;
    }
  }

  .bloc_cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 250px;

    .cards {
      width: 45%;
      position: relative;


      &_desc {
        margin-bottom: -1em;
      }

      .new_cards {
        width: 100px;
        text-align: center;
        position: absolute;
        top: 10px;
        right: 20px;
      }
    }
  }
}