/*------------------------------------------------*/
/*----------------- M O B I L E ------------------*/
/*------------------------------------------------*/

// BASE 

.r_container {
    @include flex-center;
}

// MENU

.menu {
    text-align: center;
    position: relative;
    margin-top: -3rem;
    padding-bottom: 3em;
    background-color: white;
    border-radius: 2rem 2rem 0 0;

    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        font-size: 1.2em;
        font-weight: 100;
    }

    &_card {
        padding-bottom: 3em;
        text-align: left;
    }
}

.r_title {
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 1em;

    .underline {
        text-decoration: 3px underline #99E2D0;
        text-underline-position: under;
    }


}

// CARDS

.bloc_menu {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: $first-back-color;
    overflow: hidden;
    max-width: 100%;
    margin: 1rem 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: sans-serif;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    cursor: pointer;
    position: relative;

    &_info {
        text-align: left;
        flex: 1;
        padding: 0.75rem;
        overflow: hidden;
    }

    &_title {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &_more {
        margin: 0;
        padding-top: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 100;
        font-size: 0.8em;
    }
    &_price {
        display: flex;
        align-items: flex-end;
        font-weight: bold;
        color: #3d3a3ade;
        padding: 0.75rem;
    }
    
    &_confirm {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.2em;
        width: 60px;
        background: #99e2d0;
    }
    
    .price_container {
        display: flex;
        margin-right: -60px;
    }
}



/*==============================================================*/
/*========================== DESKTOP ===========================*/
/*==============================================================*/

@media screen and (min-width: 1023px) {
    .r_title {
text-align: center;
    }

.menu_card {
    margin: 0 400px;
}

}